@charset "utf-8";
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,a,strong,em{
	margin:0;
	padding:0;
	list-style-type:none;}
	
img{
	border:0 none;
	vertical-align:top}
	
ul,li{
	list-style-type:none}
	
table{border-collapse:collapse;}
	
input,select,button,textarea{
	font-size:12px;
	font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;
	overflow:visible;
	background:#fff;}
	
button{
	cursor:pointer;
	border:none;
	font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;}
	
i,em,cite{font-style:normal}
	
body{
	min-width:1200px;
	font-size:12px;
	color:#3a3a3a;
	line-height:20px;
	font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;}
	
a{
	color:#3a3a3a;
	text-decoration:none;}
	
a:hover{
	text-decoration:none;
	color:#0370cb;}
	
a:focus{outline:none}

h1,h2,h3,h4,h5,h6{font-weight:normal;}
	
h4{font-size:24px;}
	
.fixed:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;}
	
.fixed{
	display:block;
	min-height:1%}
	
*html .fixed{height:1%}

.clear{
	display:block!important;
	float:none!important;
	clear:both;
	overflow:hidden;
	width:auto!important;
	height:0!important;
	margin:0 auto!important;
	padding:0!important;
	font-size:0;
	line-height:0}
	
.o_h{overflow:hidden}

.fl,.fr{
	display:inline;
	float:left}
	
.fr{float:right}

.cn{
	width:1200px;
	margin:0 auto;
	overflow:hidden}

.header,.percentage{
	width:100%;
	overflow:hidden;}

.c_red{color:#F30}	
.page .co_gray{
	border:0
}	
	
	

/*header*/
	
.he_logo a{
	height:68px;
	overflow:hidden;}
	
.he_logo a img,.log_top a img,#u_l_top a img,.ord_loan dl dd img{float:left;}
	
.he_logo a font,.log_top a font,#u_l_top a font{
	margin-left:15px;
	padding-top:8px;
	line-height:60px;
	font-size:36px;
	color:#231815;
	font-weight:bold;
	float:left;
	display:block;}
	
.he_logo span,.log_top span,#u_l_top span{
	width:318px;
	height:32px;
	margin-top:18px;
	background:url(../images/call.jpg) no-repeat;
	display:block;}
	
.log_top{
	width:100%;
	height:68px;
	padding:26px 0;
	background:url(../images/login_top_bg.jpg) repeat-x;
	overflow:hidden;}
	
.log_top em{
	margin-top:15px;
	line-height:53px;
	font-size:27px;
	color:#1E6195;
	display:block;
	float:left;}

.log_top div.fr{padding-top:30px;font-size:14px;}

.log_top div.fr a{margin-left:10px;}






/*page*/
.page{
	text-align:center;
	margin:28px 0;}

.page a{
	font-size:14px;
	padding:1px 8px;
	background:#fff;
	border:1px #ccc solid;
	margin:0 5px;}
	
.page a.current{
	color:#fff;
	font-weight:bold;
	background:#0198f1;
	border:1px #0370cb solid;}
	
.page span{
	margin-left:10px;}
	
	
	
	
	
	
	
	



/*Popups*/

#view a,#view2 a{
	width:170px;
	height:49px;
	line-height:49px;
	text-align:center;
	font-size:14px;
	color:#fff;
	background:url(../images/170-49.jpg) no-repeat;
	display:block;}
	
#view a:hover,#view2 a:hover{background-position:0 -49px;}
#view2{overflow:hidden;}
#view2 a{float:right;}

#content{
	width:780px;
	background:#fff;
	z-index:1000;
	position:absolute;
	display:none;} 
	
.co_bg{
	width:100%;
	height:68px;
	background:url(../images/po_topbg.jpg) repeat-x;}
	
.co_bg img{
	float:right;
	margin:20px 20px 0 0;
	cursor:pointer;}
	
.m_prog{padding:12px 61px 0;}
	
.m_prog{
	height:92px;
	background:url(../images/porg_bg.jpg) repeat-x;}
	
.m_prog p{
	width:100%;
	height:65px;
	background:url(../images/658-40.jpg) 0 25px no-repeat;}
	
.m_prog p.sr_02{background-position:0 -42px;}

.m_prog p span{
	width:50%;
	float:left;
	font-size:16px;
	text-align:left;
	display:block;}
	
#content dl{
	padding:12px 61px 25px;
	_margin-bottom:25px;
	overflow:hidden;}
	
#content dl dt{
	width:437px;
	padding-right:54px;
	border-right:1px #ccc dashed;
	float:left;}
	
#content dl dt li{
	width:100%;
	padding-bottom:28px;
	overflow:hidden;}
	
#content dl dt li span{
	width:80px;
	margin-right:5px;
	line-height:38px;
	font-size:16px;
	text-align:right;
	float:left;
	display:block;}
	
#content dl dt li p{
	width:352px;
	float:right;}
	
#content dl dt li p input{
	width:340px;
	height:20px;
	line-height:20px;
	padding:8px 5px;
	font-size:16px;
	border:1px #ccc solid;}
	
#content dl dt li p button{
	width:100%;
	height:36px;
	color:#fff;
	font-size:18px;
	background:#0370cb;
	border:1px #003399 solid;}
	
#content dl dt li p input.w164{width:164px;}

#content dl dt li p textarea{width:350px;height:70px;margin-top:8px;}

.cap{position:relative;}

.cap img{width:176px;height:38px;}

.cap a{
	width:50%;
	position:absolute;
	top:40px;
	right:0;
	text-align:center;
	color:#0198f1;
	font-size:14px;
	z-index:1010;}

#content dl dt li p input.w_half,#content dl dt li p input.w_vist{
	width:174px;
	height:36px;
	font-size:14px;}
	
#content dl dt li p input.w_half{
	color:#fff;
	text-indent:30px;
	background:url(../images/ma_1.jpg) 25px 10.5px #52b232 no-repeat;
	border:1px #52b232 solid;
	cursor:pointer;}

#content dl dt li p input.w_vist{
	background:#dcdcdc;
	border:1px #ccc solid;}	
		
	
.he_16 img,.he_16 font,.he_16 a{
	margin-top:5px;
	line-height:16px;
	float:left;}
	
.he_16 font{padding:0 10px 0 5px;}
	
.he_16 a{text-decoration:underline;}
	
#content dl dt.step_02{
	width:466px;
	height:191px;
	padding:120px 25px 55px 0;
	text-indent:175px;
	background:url(../images/img_success.jpg) 0 68px no-repeat;}	
	
.step_02 img{
	padding:25px 0;
	float:left;}
	
.step_02 span{
	font-size:16px;
	line-height:40px;}
	
#content dl dd{
	width:148px;
	padding-left:18px;
	float:left;}
	
#content dl dd p font{color:#555;}

#content dl dd p{
	line-height:20px;
	margin-bottom:20px;}
	
	
/*用户评价*/
.user_e_one{border:1px solid #ccc;border-top:0 none;padding:13px 24px 32px;}
.com_details{padding:40px 0 40px 24px;line-height:27px;}
.user_e_one .com_details{padding:0 0 40px 0;}
.com_details dt{width:54px;height:54px;border:1px solid #ccc;margin-right:15px;}
.com_details dt img{width:54px;height:54px;}
.user_e_one h4{font-size:16px;margin-bottom:17px;font-weight:700;}
.eva_p{padding-bottom:10px;width:100%;height:25px;line-height:25px;overflow:hidden;font-size:14px;}
.eva_p label,.eva_p span,.eva_p font{float:left;_display:inline;font-size:14px;}
.eva_p span{background-image:url(../images/eva.gif);background-repeat:no-repeat;width:84px;height:15px;margin:5px 10px 5px 5px}
.eva_p span.eva_p_s1{background-position:0 0;}
.eva_p span.eva_p_s2{background-position:0 -20px;}
.eva_p span.eva_p_s3{background-position:0 -40px;}
.eva_p span.eva_p_s4{background-position:0 -60px;}
.eva_p span.eva_p_s5{background-position:0 -80px;}
.eva_p span.eva_p_s6{background-position:0 -100px;}
.eva_back{padding:13px 24px;}
.user_e_one .eva_back{padding:13px 0;}
.eva_back a,.eva_text button{background:url(../images/130-30.jpg) left top no-repeat;width:132px;height:32px;line-height:32px;display:block;font-size:14px;color:#fff;text-decoration:none;text-align:center}
.eva_back a:hover,.eva_text button:hover{background:url(../images/130-30.jpg) left -38px no-repeat;text-decoration:none;}
.eva_text textarea{width:820px;height:147px;padding:5px;margin-bottom:20px;border:1px solid #ccc;}
.eva_ok{background:url(../images/img_success.jpg) 210px 50px no-repeat;padding:95px 0 200px 420px;font-size:16px;line-height:30px;}
.eva_ok em{color:#F60;}
.eva_ok a{color:#333;text-decoration:underline;}
.eva_ok a:hover{color:#4a89dc;}

